[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
streamlit = "*"
mysql-connector-python = "*"
pyxlsb = "*"
xmltodict = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
